{{ define "footer" }}
<!-- ------------------------------------------------------  -->
<!-- footer-->
    </div>

    <div class="card text-white bg-dark mb-3">
        <div class="card-header text-center"><small>Simple API CRUD using Go + MySQL</small></div>
    </div>

</div>
</body>
</html>
{{ end }}